{% extends "base.html" %}

{% block content %}
<h2 class="text-xl font-semibold mb-6 text-center">Login</h2>
<form method="post" class="max-w-sm mx-auto">
    {% csrf_token %}
    <div class="mb-5">
        <input type="text" name="username" id="id_username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your username" required>
    </div>
    <div class="mb-5">
        <input type="password" name="password" id="id_password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Password" required>
    </div>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>
    <div class="py-5 border-t border-gray-200 mt-5 text-center">
        <a class="hover:text-blue-500" href="{% url 'password_reset' %}">Forgot password?</a>
    </div>
</form>
{% endblock %}
